aiokafka==0.13.0
annotated-types==0.7.0
anyio==4.13.0
async-timeout==5.0.1
attrs==26.1.0
Authlib==1.6.9
avro==1.12.1
cachetools==7.0.5
certifi==2026.2.25
cffi==2.0.0
confluent-kafka==2.13.2
cryptography==46.0.6
fast-depends==3.0.8
fastavro==1.12.1
faststream==0.6.7
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
packaging==26.0
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
python-dotenv==1.2.2
typing-inspection==0.4.2
typing_extensions==4.15.0
